@using Helpers;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHCA 2015 National</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/vendor")
    @Scripts.Render("~/bundles/app")

    @Html.Raw(JSONDataHelper.Data("Pages", ViewBag.Pages))
    <link href='http://fonts.googleapis.com/css?family=Kameron:400,700' rel='stylesheet' type='text/css'>
    <link href="~/sass/site.css" rel="stylesheet" />

</head>
<body ng-app="app" class="site">
    <div ng-view></div>
    @RenderBody()
    <div style="clear: both"></div>
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - SHCA
</p>
    </footer>
</body>
</html>
